:root{
    --raleway: "raleway", sans-serif;
    --fuente-titulos:#464646;

}

html{
    scroll-behavior: smooth;
}

/* Desactiva el estilo de autofill de inputs en navegadores basados en WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #eaf2fd inset !important; 
}