.formacion{
    display:flex;
    flex-direction: column;
    align-content: center;
    height: 680px;
    gap: 16px;
    padding: 32px;
    background-color: #EAF2FD;
}

.formacion__titulo{
    font: var(--raleway);
    align-self: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: var(--fuente-titulos);
}

.formacion__container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 560px;
    
}

.formacion__container__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
    width: 224px;
    gap: 8px;
}

.item__img{
    background-color: white;
    width: 224px;
    height: 118px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.formacion__container__items__img{
    width: 102px;
    height: 69px;
    background-color: white;    
}

@media screen and (min-width: 768px) {
.formacion{
    height: 350px;
 
    justify-content: space-around;
}

.formacion__container{
    flex-direction: row;
    height: 540px;
    align-items: center;
}

.formacion__container__items{
    width: 180px;
    flex-grow:0;
    align-items: flex-start;
}

.item__img{
    background-color: white;
}

}