.footer__container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 57.37rem;
  background-color: #eaf2fd;
  gap: 0.625rem;
  padding: 0rem;
}

.footer__container__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  gap: 2rem;
  height: 38.187rem;
}

.footer__container__contact__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.div-form {
  margin-bottom: 5px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .footer__container {
      height: 52.5rem;  
}
}





